go 1.24.7

use (
	./services/admin
	./services/authn
	./services/authz
	./services/dictionary
	./services/order
	./services/operations
	./services/table
	./services/media
	../aqm
)

replace github.com/aquamarinepk/aqm v0.0.0 => ../aqm
