go 1.24.7

use (
	.
	./cmd/utils
	./services/admin
	./services/authn
	./services/authz
	./services/dictionary
	./services/kitchen
	./services/media
	./services/menu
	./services/operations
	./services/order
	./services/table
)

replace (
	github.com/appetiteclub/appetite v0.0.2 => .
	github.com/aquamarinepk/aqm v0.0.1 => ../aqm
)
